@model Final_POE_TimeMangement.Models.StudyHours

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>StudyHours</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ModuleId" class="control-label"></label>
                <select asp-for="ModuleId" class ="form-control" asp-items="ViewBag.ModuleId"></select>
                <span asp-validation-for="ModuleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudyDate" class="control-label"></label>
                <input asp-for="StudyDate" class="form-control" />
                <span asp-validation-for="StudyDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hours" class="control-label"></label>
                <input asp-for="Hours" class="form-control" />
                <span asp-validation-for="Hours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserID" class="control-label" hidden></label>
                <input asp-for="UserID" class="form-control" hidden value="0"/>
                <span asp-validation-for="UserID" class="text-danger" hidden></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
